* {
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0;
}
/* scrollbar  */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #111112;
}
/* scrollbar  */

body {
  background-color: red;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.side-menu {
  background-color: wheat;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

.top-bar {
  background-color: cadetblue;
}

.main {
  display: grid;
  grid-template-rows: 200px 1fr;
}

.card-container {
  background-color: cornflowerblue;
}

.card {
  background-color: rosybrown;
}
