* {
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* scrollbar  */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #111112;
}
/* scrollbar  */

html {
  min-height: 100%; /* make sure it is at least as tall as the viewport */
}
body {
  height: 100%; /* force the BODY element to match the height of the HTML element */
}

/* header {
} */

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.side-menu {
  background-color: wheat;
  grid-row: 1/4;
}

.top-bar {
  background-color: cadetblue;
}

.card {
  background-color: rosybrown;
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
}

.card.card-six {
  background-color: orange;
}

.card.card-three {
  background-color: rgb(244 24 24);
}

header {
  background-color: rebeccapurple;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* gap: 10px; */
}

.book-cards {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); */
  grid-template-columns: 1fr 1fr 1fr;
}
