*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  outline: 1px solid red;
}

body {
  background-color: #57a1be;
}

.side-menu {
  background-color: #fff;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  /* gap: 20px; */
}

svg {
  width: 30px;
  height: 30px;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  /* padding: 1.5rem; */
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 40px;
  height: 50px;
}

.top-bar {
  background-color: #b7acd7;
  display: grid;
  grid-template-rows: repeat(2, 100px);
  align-items: center;
  /* margin: 12px; */
}

.searchbar {
  display: flex;
  background-color: white;
  align-items: center;
  width: 770px;
}
i.fa-solid.fa-magnifying-glass {
  font-size: 25px;
  color: #b8c6ce;
  padding: 0 10px;
}
.user-info {
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  /* margin: 5px; */
}
input[type="search"] {
  margin: 0px 15px;
  height: 40px;
  width: 100%;
  font-size: 1.2rem;
  border: none;
  outline: none;
}

/* .buttons {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
} */
.card {
  border: 1px solid red;
  padding: 15px;
  text-align: center;
  height: 215px;
}
.container {
  display: grid;
  grid-template-columns: 285px 1fr;
  height: 100vh;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.topnav-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin: 5px;
}
.right-bar {
  background-color: yellowgreen;
  display: grid;
  grid-row: 1/4;
  grid-column: 3;
  align-content: space-between;
}

img.logoimg {
  width: 100px;
  height: 100px;
}

.logo {
  display: flex;
  height: 160px;
  justify-content: space-evenly;
  align-items: center;
}
.notifs {
  display: flex;
  align-items: center;
  gap: 30px;
}

i.fa-solid.fa-bell {
  font-size: 24px;
}
